.mat-toolbar a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding: 0 16px;
    transition: background-color 0.3s ease;
  }
  
  .mat-toolbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .mat-toolbar a {
    text-decoration: none; /* Remove underline */
  }